@media(max-width:430px) {
    .todo-list {
        align-items: center;
        justify-content: center;
    }
    .nav {
        justify-content: center;
        align-items: center;
    }
    .nav p{
        margin-left: 2rem;
    }
    .footer-div {
        font-size: 0.7rem;
    }
    .todo-display {
        width: 70vw;
        height: auto;
    }
    .display {
        justify-content: center;
        align-items: center;
    }
    .finish {
        width: 70vw;
        height: 5vh;
    }
    .card {
        width: 70%;
        height: 50%;
    }
    .card-title {
        width: 100%;
        height: auto;
    }
    .card-content {
        width: 100%;
        height: auto;
    }
    .title-textarea {
        width: 100%;
        height: auto;
        font-size: auto;
    }
    .content-textarea {
        width: 100%;
        height: 34vh;
        font-size: 0.7rem;
    }
    .card-finish {
        width: 100%;
    }
    .card-finish button{
        font-size: 1.3rem;
        height: 8vh;
        padding-bottom: 0.5rem;
    }
    .card-view {
        width: 70%;
        height: 50%;
    }
    .title-view {
        padding-top: 1.8rem;
    }
    .view-btn button {
        padding-bottom: 1rem;
        font-size: 1rem;
    }
}
@media (max-width:768px){
    .todo-list {
        align-items: center;
        justify-content: center;
    }
    .nav {
        justify-content: center;
        align-items: center;
    }
    .footer-div {
        font-size: 0.9rem;
    }
    .todo-display {
        width: 50vw;
        height: auto;
    }
    .display {
        justify-content: center;
        align-items: center;
    }
    .finish {
        width: 100%;
        height: 7vh;
    }
    .card {
        width: 50%;
        height: 60%;
    }
    .card-title {
        width: 100%;
        height: auto;
    }
    .card-content {
        width: 100%;
        height: auto;
    }
    .title-textarea {
        width: 100%;
        height: auto;
        font-size: auto;
    }
    .content-textarea {
        width: 100%;
        height: 40vh;
        font-size: 1rem;
    }
    .card-finish {
        width: 100%;
    }
    .card-finish button{
        font-size: 1.5rem;
        height: 8vh;
        padding-bottom: 0.5rem;
    }
    .card-view {
        width: 80%;
        height: 60%;
    }
    .title-view {
        padding-top: 2rem;
    }
    .view-btn button {
        padding-bottom: 1rem;
        font-size: 1.2rem;
    }
}   